/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
background-image: url(images/bg.gif);
background-repeat: repeat-x;
background-position: left top;
background-attachment: scroll;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, san-serif;
padding: 0px;
margin: 0px;
}

p { }

h3 {
margin-top:5px;
font-size: 16px;
font-weight: normal;
color: #F47B20;
}

td { }

a:link { 
color: #0054A6;
text-decoration: none;
}

a:visited {

}

a:hover {
text-decoration: underline;
}

a:active { }

input {
border-left: solid 1px #999;
border-bottom: solid 1px #333;
border-right: solid 1px #333;
border-top: solid 1px #999;
margin-right: 7px;
}
input.button {
background-image: url(images/button-bg.gif);
background-repeat: repeat-x;
background-position: left top;
background-attachment: scroll;
border-left: solid 1px #FDBB30;
border-bottom: solid 2px #F47B20;
border-right: solid 2px #F47B20;
border-top: solid 1px #FDBB30;
height: 22px;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}
input[type="password"], input[type="textbox"], textarea  {
    font-family:sans-serif; 
}
td {
vertical-align: top;
}

div#content {
width: 902px;
margin: auto;
margin-top: 15px;
}
div#header {
background-image: url(images/header-bg.gif);
background-repeat: no-repeat;
background-position: left top;
background-attachment: scroll;
background-color: #fff;
height: 57px;
}
div#header div.logo {
float: left;
margin-top: 0px;
margin-left: 20px;
}
div#header div.powered {
float: right;
margin-top: 10px;
margin-right: 20px;
}
div#header-links {
border-left: solid 2px #4C721D;
border-right: solid 2px #4C721D;
height: 35px;
padding-left: 70px;
padding-right: 20px;
padding-top: 0px;
background-image: url(images/header-links-bg.gif);
background-repeat: no-repeat;
background-position: left top;
background-attachment: scroll;
}
div#header-links table {
height: 30px;

}
div#header-links table td {
}
div#header-links table td a {
display: block;
text-decoration: none;
color: #fff;
padding-left: 15px;
padding-right: 15px;
padding-top: 7px;
background-image: url(images/header-link-bg.gif);
background-repeat: repeat-x;
background-position: left top;
background-attachment: scroll;
height: 23px;
font-size: 12px;
font-weight: bold;
}
div#header-links table td a:hover {
background-position: 0px -30px;
}
div#middle {
background-image: url(images/middle-bg.gif);
background-repeat: repeat-y;
background-position: left top;
background-attachment: scroll;
background-color: #fff;
min-height: 300px;
padding-left: 40px;
padding-right: 40px;
padding-top: 20px;
padding-bottom: 20px;
}
div#middle div.main-title {
border-bottom: solid 1px #4C721D;
text-align: right;
vertical-align: bottom;
height: 30px;
margin-bottom: 20px;
}
div#middle div.main-title h1{
margin-top: 0px;
padding-top: 0px;
font-size: 22px;
color: #4C721D;
float: left;
}
div#middle div.main-title span.time {
}
div.left {
width: 400px;
}
div.right {
border: solid 1px #4C721D;
margin-left: 40px;
width: 373px;
}
div.right p {
padding-left: 10px;
padding-right: 10px;
}
div.right h3{
margin: 0px;
background-color: #4C721D;
color: #fff;
padding: 5px;
font-size: 12px;
}

div.login {
text-align: center;
}
div.login table {
margin: auto;
font-size: 12px;
}
div.login p.new-user {
font-size: 12px;
font-weight: bold;
}
div.quotes {
text-align: center;
width: auto;
margin: auto;
}
div#middle table.normal {
margin-bottom: 20px;
}
div#middle table.normal tr{
text-align: left;
font-size: 12px;
}
div#middle table.normal tr th {
font-size: 12px;
border-bottom: solid 1px #333;
border-left: 0px;
border-right: 0px;
border-top: 0px;
padding-bottom: 3px;
color: #4C721D;
}
div#middle table.normal tr td.left {
text-align: right;
color: #4C721D;
padding-top: 3px;
vertical-align: top;
}

table.table-inner {
border: solid 1px #999;
width: 100%;
}
table.table-inner tr td,th{
border: solid 1px #333;
padding: 5px;
}
table.table-inner tr th {
background-color: #999;
color: #fff;
}
table.table-inner tbody tr td {
background-color: #ccc;
text-align: right;
}

table.table-outer {
border: solid 0px #333;
width: auto;
}
table.table-outer tr td,th{
	border: solid 1px #fff;
	padding: 5px;
}
table.table-outer thead tr th {
background-color: #999;
border: solid 1px #fff;
color: #fff;
padding: 3px;
}
table.table-outer tbody tr td {
background-color: #ededed;
text-align: center;
}
table.table-outer tbody tr td.special {
background-color: #ccc;
font-weight: bold;
text-align: left;
}
table.table-outer tbody tr td.currency {
text-align: right;
}
table.table-outer tbody tr.total td{
background-color: #BCBEC0;
font-weight: bold;
text-align: right;
}
span.price {
color: #5E8823;
}
span.price-gain {
color: #5E8823;
background-image: url(images/green-arrow.gif);
background-repeat: no-repeat;
background-position: right top;
background-attachment: scroll;
padding-right: 17px;
}
span.price-loss {
color: #C0272D;
background-image: url(images/red-arrow.gif);
background-repeat: no-repeat;
background-position: right bottom;
background-attachment: scroll;
padding-right: 17px;
}
table.profile {
border: solid 1px #5E8823;
width: 100%;
margin-top: 15px;
background-color: #ededed;
}
table.profile tr td,th{
padding: 2px;
}
table.profile thead tr th {
color: #5E8823;
border-bottom: solid 1px #5E8823;
font-size: 12px;
padding: 5px;
}
table.profile tbody tr td {
background-color: #ededed;
text-align: right;
}
table.profile tbody tr td.button {
text-align: center;
padding: 7px;
}
table.profile-content {
width: auto;
margin-bottom: 10px;
} 
table.profile-content tbody tr td {
padding: 5px;
border: solid 1px #999;
}
table.profile-content tbody tr td.left {
color: #4C721D;
}
table.glossary {
width: 80%;
background-color: #ccc;
}
table.glossary thead tr th {
background-color: #666;
color: #fff;
border: 0px;
padding: 5px;
}
table.glossary tbody tr td {
background-color: #fff;
padding: 5px;
}
table.glossary td.left {
font-weight: bold;
}
div#confirm {
margin-top: 7%;
margin-bottom: 7%;
width: 60%;
margin-left: auto;
margin-right: auto;
}
div#confirm h2 {
color: #4C721D;
text-align: center;
font-size: 18px;
}
div#confirm div.confirm-content {
background-color: #DBEBC6;
border-top: solid 1px #78A22F;
border-left: solid 1px #78A22F;
border-right: solid 2px #78A22F;
border-bottom: solid 2px #78A22F;
padding-top: 10px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
}
div.bottom {
margin-top: 10px;
border-top: solid 1px #5E8823;
padding-top: 10px;
padding-bottom: 0px;
text-align: center;
vertical-align: middle;
}
div#footer {
background-image: url(images/footer-bg.gif);
background-repeat: no-repeat;
background-position: left top;
background-attachment: scroll;
background-color: #fff;
height: 30px;
padding-top: 25px;
padding-left: 20px;
color: #4C721D;
}
a img {
	border: none;
}
